.head {
    background-color: black;
    height: 77px;
    position: absolute;
}
.main-Body {
    background-color: #E7E7E745;
    height: 720px;
    padding-top: 87px;
}
.side-nav {
    width: 60px;
    text-align: center;
}
.side-nav-left {
    width: 60px;
    text-align: center;
}
.side-nav-right {
    width: 56px;
    text-align: center;
    position: relative;
}
.center-area {
    width: 1400px;
    display: block;
    margin: auto;
    background: #010001 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 5px #00000029;
    border: 1px solid #707070;
    border-radius: 10px;
    opacity: 1;
    height: 600px;
}
.side-nav {
    margin-right: auto;  
}
.side-nav-button {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 3px #00000029;
    border-radius: 50px;
    opacity: 1;
    width: 35px;
    height: 35px;
    margin-right: 11px;
    margin-bottom: 19px;
    border: none;
    outline: none;
}
.side-nav-button:focus {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 3px #00000029;
    border-radius: 50px;
    opacity: 1;
    width: 35px;
    height: 35px;
    margin-right: 11px;
    margin-bottom: 19px;
    border: none;
    outline: none;
}
.align-center {
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
    display: block;
    padding-top: 4.5px;
}
button:focus-visible{
    outline: none;
    border: none;
     
}
.color-window {
    width: 135px;
    height: 37px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 1px #00000029;
    border-radius: 4px;
    opacity: 1;
    margin-bottom: 4px;
    
}
.card-window {
    width: 135px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 8px  rgba(0, 0, 0, 0.449);
    border-radius: 4px;
    opacity: 1;
    padding-top: 9px;
}
.menu-window {
    margin-left: -148px;
    position: relative;
}

h1 {
    font-family: Do Hyeon;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.4px;
    color: #666666;
    opacity: 1;
    text-align: left;
    margin: 0px;
    padding-left: 8px;
    padding-bottom: 9px;

}
h2 {
    font-family: Do Hyeon;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.4px;
    color: #666666;
    opacity: 1;
    text-align: left;
    margin: 0px;
    padding-left: 8px;
}
.any-info {
    font-family: Alata;
    font-size: 8px;
    letter-spacing: 0px;
    color: #666666;
    opacity: 1;
    text-align: left;
    margin: 0px;
    padding-left: 8px;
    margin-bottom: 9px;
}


/* Picker CSS */
.pickr {
    position: absolute;
    top: 8px;
    border-radius: .15em;
    overflow: hidden !important;
}

/* shadows */
.shadow-5 {
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
                0 2px 2px rgba(0,0,0,0.12), 
                0 4px 4px rgba(0,0,0,0.12), 
                0 8px 8px rgba(0,0,0,0.12),
                0 16px 16px rgba(0,0,0,0.12);
}
.shadow-shorter {
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
                0 2px 2px rgba(0,0,0,0.11), 
                0 4px 4px rgba(0,0,0,0.11), 
                0 6px 8px rgba(0,0,0,0.11),
                0 8px 16px rgba(0,0,0,0.11);
  }
  
.shadow-longer {
    box-shadow: 0 2px 1px rgba(0,0,0,0.09), 
                0 4px 2px rgba(0,0,0,0.09), 
                0 8px 4px rgba(0,0,0,0.09), 
                0 16px 8px rgba(0,0,0,0.09),
                0 32px 16px rgba(0,0,0,0.09);
  }

.shadow-4 {
    box-shadow:  0 0 1px 1px rgba(0,0,0,0.12), 
    0 0 2px 2px rgba(0,0,0,0.12), 
    0 0 4px 4px rgba(0,0,0,0.12), 
    0 0 8px 8px rgba(0,0,0,0.12),
    0 0 16px 16px rgba(0,0,0,0.12);

}

/* Scroll bar */
::-webkit-scrollbar {
    width: 4px;
    padding-bottom: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #C9C9C9; 
    border-radius: 4px;

  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #575757; 
    border-radius: 4px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0); 
  }
  

/* resize css */

::-webkit-resizer {
    border-top: 20px solid #d4d4d4;
    position: absolute;
  }

  .info-resizer1 { width: 22px; height: 1.5px; bottom: 0; background: black; position:absolute;cursor: se-resize; left: 16px; }


  /* input range */
  input[type="range"] { 
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 4px;
    width: 116px;
    cursor: pointer;
    border-radius: 4px; /* iOS */
    border: none;
}

::-webkit-slider-runnable-track {
    background: #ddd;
    height:4px;
}

/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 */
::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0px; /* 1 */
    height: 4px;
    background: #fff;
    /* border: 1px solid rgb(252, 252, 8); */
    box-shadow: -100vw 0 0 100vw #575757;
}

::-moz-range-track {
    height: 4px;
    background: #ddd;
}

::-moz-range-thumb {
    background: #fff;
    height: 4px;
    width: 20px;
    border-radius: 4px !important;
    box-shadow: -100vw 0 0 100vw #575757;
}

::-ms-fill-lower { 
    background: #575757;
}

::-ms-thumb { 
    /* background: #fff; */
    /* border: 2px solid #999; */
    height: 4px;
    width: 20px;
/*     box-sizing: border-box; */
}

::-ms-ticks-after { 
    display: none; 
}

::-ms-ticks-before { 
    display: none; 
}

::-ms-track { 
    background: #ddd;
    color: transparent;
    height: 40px;
    border: none;
}

::-ms-tooltip { 
    display: pointer;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    /* background: #f50606; */
    border: none;
    outline: none;
    border: 0px;
}

input[type="range"]:active {
    border: none;
    outline: none;
  }
input[type='range']:focus {
outline: none;
}